# Compiled object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.lib
*.dll
*.pdb

# Build path
build/*

# vscode
.vscode/*

# Cmake temporary header files
lib/include/*
include/pump/build.h
